ul{
    list-style-type: none;
    padding: 0;
    margin: 0 ;
    background: #159cb0 url("fundo-horizontal.png") repeat-x ;
    width: 650px;
    float: left;
    
    
}



ul li{

    float: left;
    
    
}

ul a{
    text-decoration: none;
    display: block;
    padding: 0 2em;
    line-height: 2em;
    background: url("divisor.png") repeat-y top left;
   

}

.clear{
    clear: both;
}


.divisor{
    background: none;
}


ul a:hover{
    background: blueviolet;
    color: aliceblue;
}

