

body{
    padding: 0;
    margin: 0;
    background: url("fundo.jpg") no-repeat;
}


form{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    
}

fieldset{
    background-color: rgba(255, 255,255, 0.3);
    border:none;

    border-radius: 10px;

  

}

input{
    
    display: block;
    width: 70%;
    height: 30px;
    font-size: 15px;
    padding-left: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    background: #fff no-repeat;
    border: none;
    border-radius: 10px;
    background-position: 10px;
    cursor: pointer;
   
}


input.email{
    
    background-image: url("icone-usuario.png");

}

input.senha{
    background-image: url("icone-cadeado.png") ;
}

input.log{
    background-color: orange;
    text-align: center;
    padding: 5px;
    width: 79%;
    color: #fff;
    border: 1px solid orangered;

}
